<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>daresni</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Black.otf</string>
		<string>Barlow-BlackItalic.otf</string>
		<string>Barlow-Bold.otf</string>
		<string>Barlow-BoldItalic.otf</string>
		<string>Barlow-Extra Bold Italic.ttf</string>
		<string>Barlow-Extra Bold.ttf</string>
		<string>Barlow-ExtraLight.otf</string>
		<string>Barlow-ExtraLightItalic.otf</string>
		<string>Barlow-Italic.otf</string>
		<string>Barlow-Light.otf</string>
		<string>Barlow-LightItalic.otf</string>
		<string>Barlow-Medium.otf</string>
		<string>Barlow-MediumItalic.otf</string>
		<string>Barlow-Regular.otf</string>
		<string>Barlow-SemiBold.otf</string>
		<string>Barlow-SemiBoldItalic.otf</string>
		<string>Barlow-Thin.otf</string>
		<string>Barlow-ThinItalic.otf</string>
		<string>BarlowCondensed-Black.otf</string>
		<string>barlowcondensed-blackitalic.otf</string>
		<string>BarlowCondensed-Bold.otf</string>
		<string>BarlowCondensed-BoldItalic.otf</string>
		<string>BarlowCondensed-ExtraBold.otf</string>
		<string>BarlowCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowCondensed-ExtraLight.otf</string>
		<string>BarlowCondensed-ExtraLightItalic.otf</string>
		<string>BarlowCondensed-Italic.otf</string>
		<string>BarlowCondensed-Light.otf</string>
		<string>BarlowCondensed-LightItalic.otf</string>
		<string>BarlowCondensed-Medium.otf</string>
		<string>BarlowCondensed-MediumItalic.otf</string>
		<string>BarlowCondensed-Regular.otf</string>
		<string>BarlowCondensed-SemiBold.otf</string>
		<string>BarlowCondensed-SemiBoldItalic.otf</string>
		<string>BarlowCondensed-Thin.otf</string>
		<string>BarlowCondensed-ThinItalic.otf</string>
		<string>BarlowSemiCondensed-Black.otf</string>
		<string>BarlowSemiCondensed-BlackItalic.otf</string>
		<string>BarlowSemiCondensed-Bold.otf</string>
		<string>BarlowSemiCondensed-BoldItalic.otf</string>
		<string>barlowsemicondensed-extrabold.otf</string>
		<string>BarlowSemiCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowSemiCondensed-ExtraLight.otf</string>
		<string>barlowsemicondensed-extralightitalic.otf</string>
		<string>barlowsemicondensed-italic.otf</string>
		<string>barlowsemicondensed-light.otf</string>
		<string>BarlowSemiCondensed-LightItalic.otf</string>
		<string>BarlowSemiCondensed-Medium.otf</string>
		<string>barlowsemicondensed-mediumitalic.otf</string>
		<string>BarlowSemiCondensed-Regular.otf</string>
		<string>BarlowSemiCondensed-SemiBold.otf</string>
		<string>BarlowSemiCondensed-SemiBoldItalic.otf</string>
		<string>barlowsemicondensed-thin.otf</string>
		<string>barlowsemicondensed-thinitalic.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
